<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Scotland Yard Ai</title>
    <link rel="stylesheet" href="/public/style.css" />
    <script src="/public/client.bundle.js"></script>

    <script src="/public/sigma.min.js"></script>
    <script src="/public/sigma.parsers.json.min.js"></script>
    <script src="/public/sigma.plugins.neighborhoods.min.js"></script>
  </head>

  <body>
    <main>
      <div id="main-wrapper">
        <div id="replay-header">
          <button id="replay-prev">Last Move</button>
          <span id="replay-turncounter"> Turn: </span>
          <span id="replay-player">Player to move: </span>
          <button id="replay-next">Next Move</button>
        </div>
        <div id="graph-container"></div>
      </div>

      <div id="sidebar">
        <table id="game-start-info">
          <thead>
            <tr>
              <th scope="col">Role</th>
              <th scope="col">Played By</th>
            </tr>
          </thead>
          <tbody>
            <% players.forEach(function(player){ %>
            <tr>
              <td style="color: <%=player.color%>"><%= player.role %></td>
              <td>
                <select class="ai-selector" id="ai-select-<%=player.id%>">
                  <% Object.keys(aiTypes).forEach(function(key){ %>
                  <option value="<%=aiTypes[key]%>" selected="selected"><%=key%></option>
                  <% }); %>
                </select>
              </td>
            </tr>
            <% }); %>
            <tr>
              <td>
                <input id="playout-debug" type="checkbox" value="Show playout debug info" checked="" />
              </td>
              <td>
                <label for="playout-debug"> Show playout debug info</label>
              </td>
            </tr>
            <tr>
              <td>
                <button onclick="lib.startGame()">Start game</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>

    <script>
      var players = <%-JSON.stringify(players)%>;
      var  revealTurns = <%-JSON.stringify(revealTurns)%>;
      window.addEventListener("load",lib.fetchGraph())
    </script>
  </body>
</html>
